{% assign p = include.post %}

<article>

  {% if include.preview == false and p.image %}
    <div><img src="{{ p.image }}" id="post-image" /></div>
  {% endif %}

  {% if include.preview == true %}
    <h2><a href="{{ p.url | relative_url }}">{{ p.title }}</a></h2>
  {% else %}
    <h1>{{ p.title }}</h1>
  {% endif %}

  {% if include.byline %}
    {% assign a = nil %}
    {% if include.author %}
      {% assign a = p.author %}
    {% endif %}

    <section>
      {% include byline.html author=a categories=p.categories tags=p.tags date=p.date %}
    </section>
  {% endif %}

  <section>
    {% if include.preview == true and p.preview %}
      <p>{{ p.preview }}</p>
    {% elsif include.preview == false %}
      {{ p.content }}
    {% endif %}
  </section>

  {% if include.preview == false %}
    {% if p.social %}
      <div id="share">
        Comment on <a href="{{ p.social.url }}">{{ p.social.name }}</a>.
      </div>
    {% endif %}

    {% if include.credit == true %}
      {% include credit.html author=p.author %}
    {% endif %}
  {% endif %}

</article>
