{% comment %}

Render footer with optional social links.

{% endcomment %}

<footer>

  {% if site.data.social %}
    <div id="footer-nav-wrap">

      <ul id="footer-nav">
        {% for el in site.data.social %}
          {% for social in el %}
            {% assign key = social[0] %}
            {% assign value = social[1] %}
            <li>
              <span class="fab fa-{{ key }} fa-fw"></span>
              <a href="{{ value.link }}">
                {{ value.name }}
              </a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>

    </div>
  {% endif %}

  <div>
    {{ site.title }} &copy; {{"now" | date: "%Y"}}
  </div>

</footer>
