<header class="sticky">

  <a href="{{ '/' | relative_url }}"
     class="logo">{{ site.title }}
  </a>

  <a href="{{ '/' | relative_url }}"
     class="button"><span class="fas fa-home fa-fw"></span> Home
  </a>

  {% if site.data.social.github %}
    <a href="{{ site.data.social.github.link }}"
       class="button">
      <span class="fab fa-github fa-fw"></span> GitHub
    </a>
  {% endif %}

  <a href="{{ 'feed.xml' | relative_url }}"
     class="button"><span class="fas fa-rss fa-fw"></span> RSS
  </a>

</header>
