<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />

  <!-- https://minicss.org/ -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">

  {% for s in site.data.css %}
    <link rel="stylesheet" href="{{ s }}" />
  {% endfor %}
</head>

<body>
  {% include nav.html %}

  {{ content }}

  {% include footer.html %}

  <!--
    Stops triggering CSS transitions on page load.
    See https://stackoverflow.com/a/42969608.
    -->
  <script> </script>
</body>

</html>
